

 <div class="">
     {{#if BMs}}
     <h5 class ="text-center pt-4" >my entry</h5>
<div class="card col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto displayData" data-id ="{{id}}" >
  

			<div class="card-body ">
				
                {{#each BMs}}

					<ul class="list-group list-group-flush ">
					<li class ="list-group-item displayData">
                        <span id="dateCard"><strong>Date: {{date}} <br> </strong></span> 

						<span>
							Time: {{time}} <br>
							My bowel was {{style}} <br>
							Amount was {{amount}} <br>
							It took {{speed}} <br>
							I felt {{comfort}}

                             <button type="submit"  id="BM-edit-btn" data-id="{{id}}"
					class="btn text-dark form-control custom">
					<span>
						<i class="fas fa-edit"></i>
					</span>
					edit my day
				</button>

				 <button type="submit"  id="BM-delete-btn" data-id="{{id}}"
					class="btn text-dark form-control custom">
					<span>
						<i class="bi bi-trash"></i>
					</span>
					delete my day
				</button>
                    </li>
						
							


					</ul>
                    
                    {{/each}}
				

			</div>
           
		</div>

                 {{/if}} 

 </div>
