<div class="text-center">
	<h1 class="text-center pt-4">My entry</h1>
</div>
<div class="row mt-5">

	{{#if BMs}}

	<div class="card col-xl-4 col-lg-4 col-md-4  col-sm-6 mx-auto displayData shadow p-3 mb-5  rounded"
		data-id="{{id}}">
		<div class="card-body ">
			<h3 class="text-center"> Bowel Movement Entry</h3>

			{{#each BMs}}

			<ul class="list-group list-group-flush ">
				<li class="list-group-item displayData">
					<span id="dateCard"><strong>Date: {{date}} <br> </strong></span>

					<span>
						Time: {{time}} <br>
						My bowel was {{style}} <br>
						Amount was {{amount}} <br>
						It took {{speed}} <br>
						I felt {{comfort}}

						<button type="submit" id="BM-edit-btn" data-id="{{id}}"
							class="btn text-dark form-control custom d-flex justify-content-center">
							<span>
								<i class="fas fa-edit"></i>
							</span>
							Edit Entry
						</button>
						<button type="submit" id="BM-delete-btn" data-id="{{id}}"
							class=" deleteBtn btn text-dark form-control custom d-flex justify-content-center">
							<span>
								<i class="fas fa-trash"></i>
							</span>
							Delete Entry
						</button>


				</li>
			</ul>

			{{/each}}
		</div>
	</div>
	{{!--
</div> --}}


{{/if}}

{{!-- <div class=""> --}}
	{{#if Reports}}

	<div class="card col-xl-4 col-lg-4 col-md-4  col-sm-6 mx-auto displayData shadow p-3 mb-5  rounded"
		data-id="{{id}}">
		<div class="card-body ">
			<h3 class="text-center"> Wellness Data Entry</h3>
			{{#each Reports}}

			<ul class="list-group list-group-flush ">
				<li class="list-group-item displayData">
					<span id="dateCard"><strong>Date: {{date}} <br> </strong></span>

					<span>
						My mood was: {{mood}} <br>
						Water Intake: {{water}} <br>
						Food Intake: {{food}} <br>
						Activity Level: {{activity}} <br>
						Sleep: {{sleep }} <br>
						Medication Intake: {{medication}} <br>
						My Notes: {{note}}

						<button type="submit" id="BM-edit-btn" data-id="{{id}}"
							class="btn text-dark form-control custom d-flex justify-content-center">
							<span>
								<i class="fas fa-edit"></i>
							</span>
							Edit Entry
						</button>
						<button type="submit" id="BM-delete-btn" data-id="{{id}}"
							class=" deleteReport btn text-dark form-control custom d-flex justify-content-center">
							<span>
								<i class="fas fa-trash"></i>
							</span>
							Delete Entry
						</button>


				</li>
			</ul>

			{{/each}}
		</div>
	</div>{{/if}}
</div>